*-bak
*.bak
*.raw
*.net
*.log
*.ps
*.old

*.bak
*.ps
*.bck
*.dsn
*.pdf
*-bak
*.log
*.aux*
*.out*
*.toc*
_autosave*
*.raw
*~
noname.pro
*gerbers/
*#*#
PUSH
PULL
*.o
*.hex
*.chg
hdl/output_files
*.pdf
gerbers.zip
