# Xilinx ISE
xst
xlnx_*_xdb
webtalk_pn.xml
usage_statistics_webtalk.html
*_xst.xrpt
*_usage.xml
*_summary.xml
*_summary.html
*_par.xrpt
*_pad.txt
*_pad.csv
*_ngdbuild.xrpt
*_map.xrpt
*_map.ngm
*_map.ncd
*_map.mrp
*_map.map
*_guide.ncd
*_envsettings.html
*_bitgen.xwbt
*.xpi
*.unroutes
*.twx
*.twr
*.syr
*.stx
*.ptwx
*.pcf
*.par
*.pad
*.ngr
*.ngd
*.ngc
*.ncd
*.lso
*.drc
*.cmd_log
*.bld
*.bgn
planAhead_run_*
planAhead_*.debug
*.xreport
_xmsgs
_ngo
_nog
